*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
height:4rem;
width:auto;
background-color:rgb(97, 95, 94);
/* border-radius: 90px, 80px 90px 80px; */
    }

.container li:hover {
background-color:red;
}


.container li{
    list-style-type: none;
    float:left;
    background-color:green;
    margin: 0em 1rem 0em 1rem;
    height: 4rem;
    /* width: 3em; */
    cursor:pointer;
    text-align: center;
    padding: 0rem 1rem 0rem 1rem
}


a{
    text-decoration: none;
    color:black;
    /* height:4rem; */
    line-height: 3.5rem;
}



.container-shop{
    position:absolute;
    width:60rem;
    left:0;
    right:0;
    margin: 0 auto;
    height:30rem;
    background-color:rgba(255, 192, 203, 0.555);
    top:9rem;
    border: solid 0.1rem;
    border-radius:1%;
}


    /* YANDRI  ESCRIBIR AQUI SU CSS*/





    /* JAVI ESCRIBIR AQUI*/
    /* Lo que dice Iñigo de hacer que se actualice automáticamente 
    el carrito no lo sabemos hacer todavía*/
    
/* Productos */

h1{
  text-align: center;
}

.productos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.producto {
  border: 1px solid gray;
  padding: 10px;
  width: 180px;
  text-align: center;
}

.producto img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.producto button {
  margin-top: 5px;
}

/* Carrito */
.carrito {
  border: 1px solid gray;
  padding: 10px;
  width: 300px;
  margin: 30px auto;
}

.carrito table {
  width: 100%;
  border-collapse: collapse;
}

.carrito th, .carrito td {
  border: 1px solid gray;
  padding: 5px;
  text-align: left;
}

.carrito h2 {
  text-align: center;
}



    /* ARITZ ESCRIBIR AQUI */


    /* YANDRI */





    /* JAVI ESCRIBIR AQUI*/



    /* ARITZ ESCRIBIR AQUI */
