* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* YANDRI  ESCRIBIR AQUI SU CSS */
img{
    width: 150px;
    height: auto;
}

.container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px auto;
  max-width: 1200px;


}

.container2 div{

    border-radius: 30px;
}

.imgs1, .imgs2, .imgs3, .imgs4, .imgs5 {
    border: 2px solid #333;
    border-radius: 10px;
padding: 10px;
width: 200px;
text-align: center;
background-color: #fff;
}

.Características{
    font-family: Arial;
}
.text{

    font-family: Arial;
    font-weight: bold;
}

.EncabezadoCA{
    border: 2px beige;
    padding: auto;
    font-family: Arial;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.loquiero{
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;    /* Centrado vertical si tiene altura */

    justify-items: center;
    border: 1px solid black;
    border-radius: 10%;
}

.loquiero a{
    color: red;
    text-decoration: none;
}


.Ps{
    font-family: Arial;
}