* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ALVARO/*
/* ajustes contenido */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* establecer tamaño fuente para que media trabaje correctamente */
html {
    font-size:16px;
    font-family: "Roboto", sans-serif;
}

/* contenedor navbar */
header {
    display:flex;
    justify-content: center;
    align-items:center;
    height:4rem;
    width:auto;
}

/* quitar decoracion links */
header a { 
    text-decoration: none;
    color:black;
}

/* quitar estilo lista y ajustar botones + cambiar cursor */
.navbtn {
    list-style-type: none;
    float:left;
    display: flex;
    align-items: center;
    height: 4rem;
    cursor:pointer;
    text-align: center;
    padding: 0rem 1rem 0rem 1rem;
    transition: background-color 200ms ease, font-weight 200ms ease;
}

.navbtn .logo {
    margin-top:1rem;
    width:100px;
}


 /* cambio de estilo para facilitar visualizacion*/
.navhov:hover {
     background-color:silver;
     font-weight: 500;
}

/* presentacion "llamativa" */
.container-pres {
    background-color:chocolate;
    height: 15rem;
    width:98%;
    left:0;
    right:0;
    margin:auto;
    margin-top:1rem;
    border-radius:1rem;
}

/* forma llamativa */
.geometria {
    position:absolute;
    background-color:black;
    height: 13rem;
    width:15rem;
    margin: 1rem 0rem 0rem 1rem; /* padding arriba y izq */
    border-radius:1rem 1rem 10rem 1rem;
}

/* ajustar texto */
.geometria h1 {
    padding-top:2rem;
    margin-left:1rem;
    color: #fff;
}

/* ajustar texto */
.geometria h3 {
    padding-top:2rem;
    line-height: 0%;
    margin-left:1rem;
    font-size:4rem;
    font-weight: 900;
    color: #fff;
}

/* ajustar texto */
.geometria p {
    padding-top:2rem;
    margin-left:1rem;
    font-size:1.75rem;
    font-weight: bold;
    color: #fff;
}

/* ajustar texto */
.titular {
    font-weight:bold;
    text-transform: uppercase;
    text-shadow: 0.3rem 0.2rem 0px black;
    padding-top:1rem;
    text-align: center;
    font-weight: 900;
    font-size:4rem;
    color: #fff;
}

/* ajustar apariencia boton */
.container-pres button {
    display:block;
    height:3.75rem;
    width:7rem;
    margin:auto;
    margin-top:1.5rem;
    background-color:rgb(232, 237, 97);
    border: 0.2rem yellow solid;
    border-radius:0.5rem;
    cursor:pointer;
}

/* ajustar texto */
.container-pres button a {
    text-decoration: none;
    color:black;
}

/* container imagenes */
.imagenes {
    position:absolute;
    height:15rem;
    width: 15rem;
    right:0px;
    margin: -11.5rem 0rem 0rem 15rem; /* padding arriba y izq */
}

/* imagenes vistosas y con posicionamiento
individual y por eso separadas */
.imagenes .img1 {
    position:absolute;
    width: 60%;
    margin-top:2rem;
}

.imagenes .img2 {
    position:absolute;
    margin: 2rem 0rem 0rem 6rem; /* padding arriba y izq */
    width: 50%;
}

.imagenes .img3 {
    position:absolute;
    width: 50%; 
    margin: 5rem 0rem 0rem 6rem; /* padding arriba y izq */
    z-index:1000;
}

/*contenedor descripcion */
#descripcion{
    background-color:coral;
    height:9rem;
    width:50rem;
    left:0;
    right:0;
    margin:auto;
    margin-top:2rem;
    text-align: center;
    padding: 1rem 1rem 0rem 1rem; /* padding arriba y izq */
    border: 0.25rem rgb(250, 51, 51) dotted;
    border-radius:0.5rem;
    text-align: justify;
    color: #fff;
    
}


/* YANDRI  ESCRIBIR AQUI SU CSS */
img{
    width: 150px;
    height: auto;
}

.container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px auto;
  max-width: 1200px;


}

.container2 div{

    /* YANDRI  ESCRIBIR AQUI SU CSS asdadada*/
    border-radius: 30px;
}

.imgs1, .imgs2, .imgs3, .imgs4, .imgs5 {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #fff;
}

.Características{
    font-family: Arial;
}
.text{
    font-family: Arial;
    font-weight: bold;
}

.EncabezadoCA{
    border: 2px beige;
    padding: auto;
    font-family: Arial;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.loquiero{
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;    /* Centrado vertical si tiene altura */
    justify-items: center;
    border: 1px solid black;
    border-radius: 10%;
}

.loquiero a{
    color: red;
    text-decoration: none;
}


.Ps{
    font-family: Arial;
}